@(form: Form[models.User])

@main("Criar usuário"){
  <div class="container">
    <div class="col-md-8">
	@helper.form(action = routes.Users.save()){
		<p><b>Nome:</b></p>
		<input type="text" name="name" class="form-control"
		placeHolder="Seu nome completo, ou como você preferir. =D"/>
		<p><b>Email:</b></p>
		<input type="text" name="email" class="form-control"placeHolder="Insira seu email"/>
		<p><b>Senha:</b></p>
		<input type="password" name="password" class="form-control" placeHolder="Insira sua senha"/>
		<br>
		<input type="submit" class="btn btn-warning" value="salvar"/>
	}

    </div>
  </div>
}