@(title: String)

<nav class="navbar navbar-default" role="navigation" style="margin-top:31px;">
  <div class="container-fluid">
    <div class="container ">
      <div class="col-md-9">
        <div class="col-md-3">
          <a class="navbar-brand" href="@routes.Application.index()"><img alt="Proapes" src="@routes.Assets.at("images/logo.png")" width="150"></a>
        </div>
        <div class="col-md-9 middle" style="border-left: 1px solid #CCC;margin-top:30px;padding-bottom:10px;">
          <h2 id="title-destaque">@title</h2>
        </div> 
      </div>
</nav>