@main("Login") {

  <div class="container">
  
    @helper.form(action = routes.Application.authenticate) {
    
      <div class="col-md-12" style="text-align: center;">
      
      <div class="row">
        <h2>Olá, entre com seu email e senha!</h2><hr /><br />
      </div>
      <div class="row">
        <label for="email">Email:</label>
        <input type="email" name="email" placeholder="Email" value=""> &nbsp;
        <label for="password">Senha:</label>
        <input type="password" name="password" placeholder="Senha">
        <button type="submit" class="btn btn-info">Entrar</button>
      </div>
      
      @if(flash.contains("error")) {
        <div class="row">
	      <div class="alert alert-danger">
	        <a href="#" class="close" data-dismiss="alert">&times;</a>
	        <strong>@flash.get("error")</strong> 
		  </div>
		</div>
      }
        
      <hr />
        
      </div>
      
    }
    
  </div>
  
}